<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org">
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form  method="post" name="loginForm" id="loginForm" action="/member/login" >
    <input type="text" name="memberEmail" id="memberEmail" placeholder="이메일"><br>
    <input type="password" name="memberPassword" id="memberPassword" placeholder="비밀번호" ><br>

</form>
<button onclick="nullCheck()">login</button>
<samp name="loginInner" id="loginInner"></samp><br>
<samp id="output"></samp><br>

<a href="/member/saveForm">회원가입</a>
<button onclick="home()">home</button>

<script th:inline="javascript">
    const nullCheck = () =>{
        const inputEmail = document.getElementById("memberEmail");
        const inputPassword = document.getElementById("memberPassword");
        const output = document.getElementById("output");
        const emailReg = /^[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*\.[a-zA-Z]{2,3}$/i;
        if(inputEmail.value.length == 0 ){
            inputEmail.focus();
            output.innerHTML = "이메일 확인!";
            output.style.color = "red";



        }
        else if((inputPassword.value.length ==0)){
            inputPassword.focus();
            output.innerText = "비밀번호 입력";
            output.style.color="red";

        }else if(inputEmail.value.length> 0 && inputPassword.value.length > 0 ){
            console.log("로그인 호출");
            document.loginForm.submit();
                /*test
                *
                *
                *
                *
                *
                * */
        }
    }
    const home = () =>{
        location.href="/";
    }



</script>
</body>
</html>